stashed/performance/bert/old/CONTACT.csv
stashed/performance/bert/old/DONATE.csv
stashed/performance/bert/old/EVENT.csv
stashed/performance/bert/old/GATHERINFO.csv
stashed/performance/bert/old/GOTV.csv
stashed/performance/bert/old/LEARNMORE.csv
stashed/performance/bert/old/POLL.csv
stashed/performance/bert/old/PRIMARY_PERSUADE.csv
stashed/performance/bert/old/PURCHASE.csv
stashed/performance/rf/CONTACT.csv
stashed/performance/rf/DONATE.csv
stashed/performance/rf/EVENT.csv
stashed/performance/rf/GATHERINFO.csv
stashed/performance/rf/GOTV.csv
stashed/performance/rf/LEARNMORE.csv
stashed/performance/rf/POLL.csv
stashed/performance/rf/PRIMARY_PERSUADE.csv
stashed/performance/rf/PURCHASE.csv
stashed/performance/rf_2022_separate/CONTACT_ad_creative_body.csv
stashed/performance/rf_2022_separate/CONTACT_combined_everything.csv
stashed/performance/rf_2022_separate/CONTACT_combined_text.csv
stashed/performance/rf_2022_separate/DONATE_ad_creative_body.csv
stashed/performance/rf_2022_separate/DONATE_combined_everything.csv
stashed/performance/rf_2022_separate/DONATE_combined_text.csv
stashed/performance/rf_2022_separate/EVENT_ad_creative_body.csv
stashed/performance/rf_2022_separate/EVENT_combined_everything.csv
stashed/performance/rf_2022_separate/EVENT_combined_text.csv
stashed/performance/rf_2022_separate/GATHERINFO_ad_creative_body.csv
stashed/performance/rf_2022_separate/GATHERINFO_combined_everything.csv
stashed/performance/rf_2022_separate/GATHERINFO_combined_text.csv
stashed/performance/rf_2022_separate/GOTV_ad_creative_body.csv
stashed/performance/rf_2022_separate/GOTV_combined_everything.csv
stashed/performance/rf_2022_separate/GOTV_combined_text.csv
stashed/performance/rf_2022_separate/LEARNMORE_ad_creative_body.csv
stashed/performance/rf_2022_separate/LEARNMORE_combined_everything.csv
stashed/performance/rf_2022_separate/LEARNMORE_combined_text.csv
stashed/performance/rf_2022_separate/POLL_ad_creative_body.csv
stashed/performance/rf_2022_separate/POLL_combined_everything.csv
stashed/performance/rf_2022_separate/POLL_combined_text.csv
stashed/performance/rf_2022_separate/PRIMARY_PERSUADE_ad_creative_body.csv
stashed/performance/rf_2022_separate/PRIMARY_PERSUADE_combined_everything.csv
stashed/performance/rf_2022_separate/PRIMARY_PERSUADE_combined_text.csv
stashed/performance/rf_2022_separate/PURCHASE_ad_creative_body.csv
stashed/performance/rf_2022_separate/PURCHASE_combined_everything.csv
stashed/performance/rf_2022_separate/PURCHASE_combined_text.csv
stashed/performance/rf_on_2022/CONTACT.csv
stashed/performance/rf_on_2022/DONATE.csv
stashed/performance/rf_on_2022/EVENT.csv
stashed/performance/rf_on_2022/GATHERINFO.csv
stashed/performance/rf_on_2022/GOTV.csv
stashed/performance/rf_on_2022/LEARNMORE.csv
stashed/performance/rf_on_2022/POLL.csv
stashed/performance/rf_on_2022/PRIMARY_PERSUADE.csv
stashed/performance/rf_on_2022/PURCHASE.csv
